.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; 
}

.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 12px;
    width: 400px;
    height: 450px;
    max-width: 100%;
    max-height: 100%;
    overflow-y: auto; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.modal-content.show {
    transform: scale(1.05);
}

.modal-content::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

.modal-content::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.modal-content::-webkit-scrollbar-thumb {
    background: #bebaba;
    border-radius: 6px;
}

.modal-content::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.close-button {
    background: transparent;
    border: none;
    cursor: pointer;
    align-self: flex-end;
    margin-bottom: 15px; 
    transform: translate(30%, -40%);
}

.close-button .icon {
    font-size: 24px;
    color: var(--color-error);
    transition: color 0.3s;
}

.close-button .icon:hover {
    color: #c70000; 
}
