.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: var(--color-ultra-dark-blue);
  padding: 14px;
  margin: 0;
  z-index: 1000;
}

.navbar h1 {
  display: flex;
  justify-content: flex-start;
  flex-grow: 1;
  color: var(--color-white);
  font-size: 1.6em;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  margin-left: 17%;
}

.navbar .logout-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: var(--color-ultra-dark-blue);
  color: var(--color-white);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition:
    background-color 0.3s,
    transform 0.2s;
  margin-right: 17%;
}

.navbar .logout-button:hover {
  background: var(--color-primary);
  color: var(--color-secondary);
}

.navbar .logout-button .logout-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6em;
  margin-right: 8px;
}

.navbar .logout-button text {
  font-size: 1.2em;
}

.records-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  margin-top: 6rem;
  overflow: hidden;
}

.records-container::-webkit-scrollbar {
  display: none;
}

.records-table {
  width: 65%;
  border-collapse: collapse;
  font-size: 16px;
  border: var(--color-gray) 1px solid;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
  margin-bottom: 2%;
}

.records-table thead {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.records-table tbody {
  display: block;
  max-height: 700px;
  overflow-y: auto;
}

.records-table tbody tr {
  display: table;
  width: 100%;
}

.records-table thead tr {
  display: table;
  width: 100%;
}

.records-table thead th {
  background-color: var(--color-light-blue);
  color: var(--color-white);
  padding: 12px;
  font-size: 1em;
  border-bottom: 1px solid #ddd;
}

.records-table .id-header {
  width: 5%;
}

.records-table .name-header {
  width: 50%;
  text-align: left;
}

.records-table .email-header {
  width: 35%;
  text-align: left;
}

.records-table .info-header {
  width: 10%;
  text-align: center;
}

.records-table tbody td {
  padding: 12px;
}

.records-table tbody tr:nth-child(odd) {
  background-color: var(--color-white);
}

.records-table tbody tr:nth-child(even) {
  background-color: #f0f8ff;
}

.records-table tbody::-webkit-scrollbar {
  width: 5px;
}

.records-table tbody::-webkit-scrollbar-track {
  background: var(--color-gray);
}

.records-table tbody::-webkit-scrollbar-thumb {
  background: var(--color-light-blue);
  border-radius: 10px;
}

.records-table tbody::-webkit-scrollbar-thumb:hover {
  background: var(--color-ultra-dark-blue);
}

.buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #e6f3ff;
  padding: 1rem;
}

.buttons-container .pages {
  margin-inline: 33%;
  color: #1a5f7a;
  font-size: 0.9rem;
}

.arrow-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-white);
  border: none;
  cursor: pointer;
  font-size: 1.6em;
  width: 10%;
  padding: 0.5rem 2rem;
  border-radius: 7px;
  color: #1a5f7a;
  border: var(--color-secondary) 1px solid;
}

.arrow-button:hover:not(:disabled) {
  background: #c1e8ff;
  color: var(--color-ultra-dark-blue);
}

.arrow-button:disabled {
  background: #f0f0f0;
  color: #999;
  border: var(--color-gray) 1px solid;
  cursor: not-allowed;
}

.arrow-button span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.6em;
}

.arrow-button span:first-child {
  margin-right: 1rem;
}

.arrow-button span:last-child {
  margin-left: 1rem;
}

.arrow-button text {
  font-size: 0.6em;
}
