.sidebar {
  display: flex;                 
  justify-content: center;        
  align-items: center;                   
  padding: 1%;
  margin-bottom: 1%;
  width: 100%;
}

.sidebar h1 {
  margin: 0;
  flex-grow: 1;                 
  text-align: center;       
  color: var(--color-white);
  font-size: 2.4em;      
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.sidebar .logout-button {
  position: absolute;             
  right: 10px;                    
  padding: 12px 20px;
  background-color: var(--color-primary);
  color: var(--color-white);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.sidebar .logout-button:hover {
  background-color: var(--color-dark);
  transform: translateY(-2px);
}

.sidebar .logout-button:active {
  transform: translateY(0);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.records-container {
  display: flex;                 
  justify-content: center;        
  align-items: flex-start;      
  flex-wrap: wrap;     
  max-height: 800px;            
  width: 800px; 
  overflow-y: auto;         
}

.records-container::-webkit-scrollbar {
  width: 12px; 
}

.records-container::-webkit-scrollbar-track {
  border-radius: 10px; 
}

.records-container::-webkit-scrollbar-thumb {
  background: var(--color-light); 
  border-radius: 10px; 
}

.records-container::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.buttons-container {
  display: flex;                 
  justify-content: center;        
  align-items: center;          
  padding: 10px;
  margin-top: 10px;
  width: 100%; 
}

.arrow-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 25px;
  margin: 0 10px; 
}

.arrow-button:hover {
  color: var(--color-secondary);
}
